page-login {
    .toolbar-background {
        background-color: #32db64;
       
      }
      ion-title{
        text-align: center;
      }
      p{
          color: #f4f4f4;
      }
      #login-button6{
        padding-top:20px;
        padding-bottom:20px;
      }
}
