page-login {
    .toolbar-background {
        background-color: #32db64;
       
      }
      ion-title{
        text-align: center;
      }
      p{
          color: #f4f4f4;
      }
     .input{
       border:1px solid #32db64;
       padding:6px;
       border-radius:3%;
     }
}
